<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="myconection" connectionString="Data Source=DESKTOP-DI0MGUL;Initial Catalog=PEOPLE;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>